header {
    text-align: center;
    background-color: #444;
    color: white;
    height: 50px;
    margin-bottom: 10px;
}
header img {
    position: absolute;
    top: 20px;
    left: 5px;
}
.mat-sort-header-container {
    align-items: center;
}

.mat-radio-button {
    margin-right: 15px;
}

tr:nth-child(even){
    background-color: lightsteelblue;
}

tr:nth-child(odd){
    background-color: whitesmoke;
}

mat-form-field,
mat-slide-toggle,
.mat-raised-button {
    margin-left: 10px;
}
